body{
    background-color: darkkhaki;
    font-family: "sans-serif";
}
.container{
    max-width:1200px;
    margin: 0 auto
}
ul.popular__tags{
    display: flex;
    justify-content: center;

    margin:10em 0em;

}
ul.popular__tags li{
    padding:2em;
    font-size: 1.5em;
    list-style-type: none;
    font-weight: 700;
    letter-spacing: 0.1em;

    transition: font-size 0.2s;
}
ul.popular__tags li:hover{

    font-size:1.7em
}
.popular__details_tags{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.popular__details_image{
    width: 7em;

}
.popular__details_ranking{
    text-align: center;
    font-size: 2em;
}
.popular__details_item {
    margin:3em;
    list-style-type: none;
}
.nav__tags{
    display: flex;
}

a{
    text-decoration: none;
    color:white;
}
.active{
    font-weight: 800;
    color:red;
    font-size: larger;
}
.nav__tags li{
    margin:1em;
    list-style-type: none;
    font-size: 2em;

}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    font-weight: 900;
}
.button{
    padding:1em;
    margin-top:2em;

    width: 8em;

    background-color: whitesmoke;
    transform:scaleX(1);
    color:red;
    transition: transform color 1s ease-in;

}
#username{


    border:0.3em solid lightgray;
    cursor:pointer;
    font-size:1.4em;
}
.button:hover{
    transform:scaleX(1.3);
    color:red;
}
.battle__main{
    color:cornflowerblue;
    display: flex;
    justify-content: space-around;

}
.battle__form{
    margin-top:10em;
    display: flex;
    flex-direction: column;
}
#labelId{
    color:palevioletred;
    font-size:3em;
}
.reset{
    color:red;
    letter-spacing: 0.1em;
    font-weight: 900;
    font-size:1em;

}
.reset:hover{
    font-size:2em;
}